{% extends 'layout.html' %}

{% block content %}
    <div class="container">
{#    面板#}
   <div class="panel panel-default">
   <div class="panel-heading">编辑商品</div>
        <div class="panel-body">
            <div class="col-lg-4">
                <form method="post">
                    {% csrf_token %}
                        {% for i in form %}
                            <div class="form-group">
                            <label>{{ i.label }}</label>
                                {{ i }}
                            <span style="color: red">{{ i.errors.0 }}</span>
                            </div>
                        {% endfor %}
                        <button class="btn btn-success" type="submit">确认</button>
                </form>
          </div>
        </div>
        </div>
</div>
{% endblock %}

